<div class="container">

  <div fxflex="70" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
    <div class="container-title">
      <h1>Listado de Detenidos</h1>
      <button mat-stroked-button color="primary" (click)="listDetenciones()"> Obtener Detenciones </button>
    </div>

    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Id</th>
        <td mat-cell *matCellDef="let element"> {{element.detencion_id}} </td>
      </ng-container>
      <ng-container matColumnDef="FECHA">
        <th mat-header-cell *matHeaderCellDef style="width: 15%;text-align: center;"> Fecha</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.fecha | date: 'dd/MM/yyyy hh:mm'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="APELLIDO Y NOMBRE">
        <th mat-header-cell *matHeaderCellDef style="width: 20%;text-align: center;"> Apellido y Nombre</th>
        <td mat-cell *matCellDef="let element"> {{element.persona.apellido | uppercase}} {{element.persona.nombre |
          uppercase}} </td>
      </ng-container>

      <ng-container matColumnDef="DIAS">
        <th mat-header-cell *matHeaderCellDef style="width: 10%;text-align: center;"> Días</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;" class="dias"> {{element.cantidad_dias}} </td>
      </ng-container>

      <ng-container matColumnDef="DEPENDENCIA">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Dependencia</th>
        <td mat-cell *matCellDef="let element"> {{element.dependencia?.descripcion | uppercase}} </td>
      </ng-container>

      <ng-container matColumnDef="DELITO">
        <th mat-header-cell *matHeaderCellDef style="text-align: center; border-right: none;"> Delito</th>
        <td mat-cell *matCellDef="let element"> {{element.delito | uppercase}} </td>
      </ng-container>


      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="expand row"
            (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
            <mat-icon *ngIf="expandedElement !== element" matTooltip="Ver Detalle">keyboard_arrow_down</mat-icon>
            
            <button mat-raised-button color="primary" *ngIf="expandedElement === element"><mat-icon
                style="font-size: 13px;font-weight: bold;">close</mat-icon> Cerrar Detalle</button>
          </button>
        </td>
      </ng-container>

        <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-diagram">
              <div class="example-element-apellidoynombre"> Apellido y Nombre: {{element.persona.apellido | uppercase}}
                {{element.persona.nombre | uppercase}}</div>
              <div class="example-element-dni">DNI: {{element.persona.numero_documento}} </div>
              <div class="example-element-fecha-nac"> F/N: {{element.persona.fecha_nacimiento}} </div>
            </div>
            <div class="example-element-description">
              <span class="example-element-description-attribution">
                <p>Detalle de la Detención</p>
                <li style="list-style: none;">ID: {{element.detencion_id}} </li>
                <li style="list-style: none;">Fecha: {{element.fecha | date: 'dd/MM/yyyy hh:mm'}}</li>
                <li style="list-style: none;">Cantidad de Dias: {{element.cantidad_dias}} </li>
                <li style="list-style: none;width: 250px;">Delito: {{element.delito | uppercase}} </li>
              </span>
            </div>
            <div class="example-element-description">
              <span class="example-element-description-attribution">
                <p>Detalle de la Dependecia</p>
                <li style="list-style: none;">ID: {{element.dependencia?.dependencia_id}} </li>
                <li style="list-style: none;width: 250px">Descripción: {{element.dependencia?.descripcion | uppercase}}
                </li>
              </span>
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element;columns: columnsToDisplayWithExpand; " class="example-element-row"
        [class.example-expanded-row]="expandedElement === element" 
        (click)="expandedElement = expandedElement === element ? null : element" 
        [ngClass]="{'marcar_dias':element.cantidad_dias>30,'marcar_edad':pintar!}">
        {{mostrar(element.persona.fecha_nacimiento)}}
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>

  <div class="totales" fxflex="30" style="flex: 1 1 35%; box-sizing: border-box; max-width: 35%; ">
    <div class="container-title">
      <h2>Totales</h2>
    </div>
    <mat-card>
      <mat-card-content>
        <ul class="lista1">
          <li>Total Detenciones: <span style="padding-left: 60px;">{{ total_detenciones}}</span></li>
          <li>Total Menores: <span style="padding-left: 83px;"> {{total_menores}} </span></li>
          <li>Detención más reciente: <span style="padding-left: 25px;">{{detencion_reciente | date: 'dd/MM/yyyy
              '}}</span></li>
        </ul>
      </mat-card-content>
    </mat-card>
    <div class="container-title">
      <h2>Detenciones por Dependencia</h2>
    </div>
    <mat-card>
      <mat-card-content>
        <ul class="lista2">
          <li>Unidad Penal Nro. 9 Paso de los Libres: <span style="padding-left: 3px;">{{total_dependencia9}}</span>
          </li>
          <li>Comisaria 2da. - Curuzu Cuatia: <span style="padding-left: 52px;">{{total_dependencia23}}</span></li>
          <li>Comisaria 1ra. Alcadía - Curuzu Cuatia: <span style="padding-left: 5px;"> {{total_dependencia24}}</span>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
    <div class="buttonGroup" fxflex="30" style="margin-top: 20px;">
      <button mat-stroked-button color="primary" [disabled]="!show" (click)="calcularReporte()"> Generar Reporte
      </button>
      <button mat-stroked-button color="primary" [disabled]="!activo" (click)="grabarReporte()" style="display: none;"
        class="botonG" id="botonG"> Guardar Reporte </button>
      <mat-form-field id="obs" style="top:10px">
        <mat-label>Observaciones</mat-label>
        <textarea id="obser" matInput [(ngModel)]="observaciones" required></textarea>
      </mat-form-field>
      <button id="grabar" mat-raised-button color="primary" (click)="grabar()" style="display: none;float: right;">
        Guardar </button>
    </div>
  </div>

</div>